@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
body {
    font-family: 'Sora', sans-serif;
  }

  /* .banner {
    background: url(images/hero-vegetables.png);
    background-repeat: no-repeat;
    background-size: 800px 700px;
    background-position: center bottom;
    padding: 500px;
  } */

  .img-content{
    width: 90%;
    margin: 0 auto;
  }
  .footer-nav{
    list-style: none;
  }

  @keyframes slideInLeft {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-slide-in-left {
    animation: slideInLeft 0.8s ease-out forwards;
  }

  @media (max-width: 576px) {
    .float-section{
      display: none;
    }

    footer{
      color:white;
    }
  }
